aside {
    width: 320px;
    background: rgb(228, 239, 250);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 30px 20px;
}

aside strong {
    font-size: 24px;
    text-align: center;
    display: block;
    color: #444;
}

aside form{
    margin-top: 30px;
}

aside form .input-block + .input-block {
    margin-top: 20px;
}

aside form .input-group{
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

aside form .input-group .input-block{
    margin-top: 0;
}

aside form .input-block label{
    color: #555;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

aside form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #222;
    border: 0;
    border-bottom: 1px solid rgb(207, 207, 207);
}

aside form button[type = submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: rgb(121, 118, 118);
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

aside form button[type = submit]:hover{
    background: rgb(97, 81, 81);
}